html, body, #root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
